<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samsung.thai.connectiondatabase">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConnectionDatabase"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activitys.NGActivity"
            android:label="@string/title_activity_n_g"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ConnectionDatabase.NoActionBar"/>
        <activity android:name=".activitys.EditActivity" />
        <activity android:name=".activitys.MainActivity" />
        <activity android:name=".activitys.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ConnectionDatabase.NoActionBar"/>
        <activity android:name=".activitys.CustomActivity" />
        <activity android:name=".activitys.ChecklistActivity" />
        <activity
            android:name=".activitys.ScannerActivity" />
        <activity android:name=".activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

</manifest>